
/* 전체 배경색 지정 */
html{
    background-color: #013367;
}
* {
    font-family: 'Press Start 2P', cursive;
}

.introduce {
    padding-top: 10rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

/* Nav bar */
.custom-navbar {
background-color: #010066;
}

/* Header */
.header-text {
    font-weight: bold;
}

/* Main */

#main {
    background-color: #013367;
    color: white;
    text-align: center;
}

.desc-text {
    opacity: 0.5;
    font-size: 12px;
}